* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.container {
    max-width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 15px;
}
.questions {
    margin-top: 20px;
    margin-bottom: 20px;
}
.question-text {
    font-size: 18px;
    padding-bottom: 5px;
}
label {
    display: block;
    background-color: white;
}
#submit-btn {
    padding: 10px;
    background: rgb(33, 97, 153);
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    float: left;
}
#clear-btn {
    padding: 10px;
    background: rgb(134, 11, 11);
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    float: right;
}
#submit-btn:hover, 
#clear-btn:hover {
    cursor: pointer;
}
#correct-count {
    margin-top: 10px;
}